* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', sans-serif, Arial;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-weight: 650;
    font-size: 2rem;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}